:root {
  --owd-font-family: 'Cantarell';

  --owd-surface-700: #1d293d;
  --owd-surface-900: rgba(6, 10, 16, 0.9);

  --owd-primary-color: #1a6caf;
  --owd-primary-hover-color: #1a6caf;
  --owd-button-primary-active-background: #4593d8;
  --owd-button-primary-active-border-color: #4593d8;

  --owd-background-color: var(--owd-surface-900);
  --owd-card-border-radius: 8px;

  --owd-hover-background-color: 255, 255, 255, 0.05;

  --owd-card-body-padding: 12px;

  --owd-tabs-tab-padding: 0.6rem 1.25rem;
  --owd-tabs-tabpanel-padding: 1.25rem 0 0 0;

  --owd-menu-shadow: 0 0 0 1px var(--owd-surface-700);
  --owd-menubar-submenu-border-radius: var(--owd-card-border-radius);
  --owd-menubar-item-padding: 10px 14px;
  --owd-menubar-submenu-border-color: var(--owd-surface-700);
  --owd-menubar-item-focus-background: rgba(var(--owd-hover-background-color));

  --owd-navigation-item-padding: 0.5rem 1rem;

  --owd-dock-item-padding: 12px;

  --owd-system-bar-height: 32px;
  --owd-system-bar-padding: 4px;
  --owd-system-bar-menu-spacing: 8px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: transparent;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 4px;
  border: 2px solid transparent;
  background-clip: padding-box;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

:hover::-webkit-scrollbar-thumb,
:focus::-webkit-scrollbar-thumb,
:active::-webkit-scrollbar-thumb,
::-webkit-scrollbar-thumb {
  opacity: 1;
}

.p-menubar {
  border: 0;
}

.p-menu, .p-menubar-submenu {
  margin-top: 12px !important;
}

.p-tablist {
  margin: calc(var(--owd-card-body-padding) * -1 + 1px) calc(var(--owd-card-body-padding) * -1) 0 calc(var(--owd-card-body-padding) * -1);
}

label .p-checkbox {
  margin-right: 8px;

  &-box {
    margin-top: -3px;
  }
}